# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

build
deps
target
lib

# Executables
*.exe
*.out
*.app
*.sln
*.vcxproj
*.suo
*.user
*.filters
*.VC.db
*.opendb
.gitignore
.project
cmake_install.cmake

CMakeCache.txt
CMakeFiles/
Release/
Debug/
Makefile
.vs/cpp_redis/v15/ipch/AutoPCH/TSIM_CLIENT-f9343e2d/DATA_CONTROLLER-1a026d86/DATA_CONTROLLER.ipch
*.ipch
.vs/cpp_redis/v15/Solution.VC.db-shm
*.db-wal
